@{
    ViewBag.Title = "forgotPassword";
}

<link rel="stylesheet" href="~/Content/css/forgotPassword.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

@*<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>*@
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>

<section class="sectionForgotPasword">
    <div class="contenedorForgotPassword">
        <div class="card text-center">
            <div class="card-header h5 text-white bg-primary">Resetear contraseña</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Ingrese su dirección de correo electrónico y le enviaremos un correo electrónico con instrucciones para restablecer su contraseña.
                </p>
                <form data-aos="fade-up"
                      data-aos-duration="3000" class="was-validated" id="formContenedorId" method="post">
                    <div class="mb-3 mt-3">
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-envelope colorGeneral"></i></span>
                            <input type="email" name="Correo" class="form-control" placeholder="Correo" id="correoForgotPassword" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese el correo
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Recuperar</button>
                </form>
                <div class="d-flex justify-content-center mt-2">
                    <a> @Html.ActionLink("Iniciar Sesión", "Login", "IniciarSesion", new { area = "" }, new { @class = "colorGeneral" }) </a>
                </div>
            </div>
        </div>
    </div>
</section>

@*<script src="~/Scripts/Views/recuperarPass.js"></script>*@
