
@{ ViewBag.Title = "DashBoardCitas";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCliente.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A1 {
        background-color: #4d81ba;
        text-decoration: none;
    }
</style>


<div class="divContenedorDelDashTres">
    <section class="cotenedorDeDatos">
        <div class="datoGeneralImage">
            <img src="https://josuergweb.web.app/image/josue.jpg" class="imgDashBoard" />
        </div>

        <div class="datoGeneral">
            <h2 class="titleGeneral">Mi Perfil</h2>
            <section class="cotenedorDeDatos" style="gap: 1px">
                <p class="tituloGeneralDos">Numero de cuenta: </p>
                <span class="numeroDeCuenta">73</span>
            </section>
        </div>
    </section>

    <form class="form-group mt-2">
        <div class="form-group row mt-3">
            <label for="staticEmail" class=" tituloGeneralTres">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" value="Josue Rivera">
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="staticEmail" class="tituloGeneralTres">Telefono</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="staticEmail" value="86976985">
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="staticEmail" class="tituloGeneralTres">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="staticEmail" value="josue@ucenfotec.ac.cr">
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="inputPassword" class="tituloGeneralTres">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="gregoryhouse">
            </div>
        </div>

        <button type="button" class="btn btn-primary mt-3">Editar</button>
    </form>
</div>

<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<script src="~/Scripts/Views/DashBoardCliente.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>