@model List<DTO.Examen>
@{ ViewBag.Title = "DashBoardCitas";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A2 {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
        background-color: #f3f3f363;
    }
</style>

<div class="divContenedorDelDashTab">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Resultados de exámenes</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" tabindex="-1" role="tab">Próximas citas pagadas</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="home" role="tabpanel">

            <div>
                <form class="d-flex" style="padding: 10px">
                    <input class="form-control me-sm-2" type="text" id="searchTerm" onkeyup="doSearch()" placeholder="Buscar información">
                </form>
                <p class='noSearch hide'></p>
            </div>


            <div class="ContenedorDeDashboardTabOverFlow">
                <table id="datos" class="table table-hover" style=" min-width: 82vw; border-radius: 10px;">
                    <thead>
                        <tr>
                            <th scope="col">TIPO</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Fecha de compra</th>
                            <th scope="col">Fecha de cita</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model)
                        {
                            <tr>
                                <td scope="row">Aplicado</td>
                                <td>@u.Nombre</td>
                                <td id="precio">₡@u.Precio</td>
                                <td>2022-11-17</td>
                                <td>2023-01-07</td>
                            </tr>
                        }
                        </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel">
            <div class="ContenedorPequeDeDashboardTabOverFlow">

                @foreach (var u in Model)
                {
                    <section id="idCarritoContenedorDeExamenes" class="ContenedorDeExamenes">
                        <div class="flexClass divExamenCotenido">
                            <h2 class="tituloDeExamen">@u.Nombre</h2>
                            <p class="descripcionExamen">@u.Descripcion</p>
                            <span class="laboratorioExamen">@u.LaboratorioId</span>
                        </div>
                        <div class="flexClass">
                            <button type="submit" onclick="location.href='/AgendarCitas/AgendarCitas'" id="remove" class="buttonCita colorButton"><i class="fa-solid colorButton fa-calendar-days"></i>Agendar cita</button>
                        </div>
                    </section>
                }
            </div>
        </div>
            
        </div>      
</div>

<script src="~/Scripts/Views/dashboardUsuario/DashboardCitasResultado.js"></script>
<script src="~/Scripts/Views/dashboardUsuario/DashboardCitasFechas.js"></script>
<script src="~/Scripts/Views/dashboardUsuario/DashboardCitasQR.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>

