
@{
    ViewBag.Title = "DashboardUsuario";
}

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashBoardGeneral.css" />
<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCliente.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<section class="ContenedorDeDashboard">
    <section class="contenedorDeNav">
        <a href="" class="mb-2 contenedorDeOpcionesDelNav active">
            <i class="fa-solid fa-user"></i>
            <p class="ContenedorDeNombre">Usuario</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-flask-vial"></i>
            <p class="ContenedorDeNombre">Examenes</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav ">
            <i class="fa-solid fa-calendar-days"></i>
            <p class="ContenedorDeNombre">Citas</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-cart-shopping"></i>
            <p class="ContenedorDeNombre">Compras </p>
        </a>
    </section>

    <section class="contenedorDeHeader">
        <div class="contenedorDePerfil">
            <section class="cotenedorDeDatos">
                <div class="datoGeneralImage">
                    <img src="~/Content/imgs/otros/clientes/dchouse.png" class="imgDashBoard" />
                </div>

                <div class="datoGeneral">
                    <h2 class="titleGeneral">Mi Perfil</h2>
                    <section class="cotenedorDeDatos" style="gap: 1px">
                        <p class="tituloGeneralDos">Numero de cuenta: </p>
                        <span class="numeroDeCuenta">73</span>
                    </section>
                </div>
            </section>

            <form class="form-group mt-2">
                <div class="form-group row mt-3">
                    <label for="staticEmail" class=" tituloGeneralTres">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="staticEmail" value="Gregory House ">
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="staticEmail" class="tituloGeneralTres">Telefono</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="staticEmail" value="86976985">
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="staticEmail" class="tituloGeneralTres">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="staticEmail" value="gregoryhouse@ucenfotec.ac.cr">
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <label for="inputPassword" class="tituloGeneralTres">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" value="gregoryhouse">
                    </div>
                </div>

                <button type="button" class="btn btn-primary mt-3">Editar</button>
            </form>
        </div>
    </section>
</section>



<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<script src="~/Scripts/Views/DashBoardCliente.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>