@model List<DTO.Examen>
@{
    ViewBag.Title = "DashAdminLabRegistrarCitas";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A6 {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
        background-color: #f3f3f363;
    }
</style>

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashBoardGeneral.css" />
<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="divContenedorDelDashUno">
    <fieldset class="m-2">

        <div class="card mb-3" style="width: 30%; float:left">
            <h3 class="card-header">Registrar Cita</h3>
            <div class="card-body">
                <form>

                    <div class="form-group mb-1">
                        <label for="exampleSelect2" class="form-label">Escoja el Examen para la Cita</label>
                        <select class="form-select" id="examenesId">
                            <option value="" disabled selected hidden>Seleccione un Examen para la Cita</option>
                            @foreach (var u in Model)
                            {
                                <option value="@u.Nombre">@u.Nombre</option>
                            }
                        </select>
                    </div>

                    <div class="form-group ">
                        <label for="exampleSelect2" class="form-label">Dias de la cita</label>
                        <select multiple="" class="form-select" id="exampleSelect2" style="min-height:150px">
                            <option value="" disabled selected hidden>Seleccione el dia para la Cita</option>
                            <option value="Lunes">Lunes</option>
                            <option value="Martes">Martes</option>
                            <option value="Miercoles">Miercoles</option>
                            <option value="Jueves">Jueves</option>
                            <option value="Viernes">Viernes</option>
                            <option value="Sabado">Sabado</option>
                            <option value="Domingo">Domingo</option>
                        </select>
                    </div>

                    <div class="form-group mt-2">
                        <label for="hora">Hora de la Cita:</label>
                        <input id="hora" class="form-control" type="time" required />
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Cupo</label>
                        <input type="number" class="form-control" id="inputDefault">
                    </div>

                    <div class="form-group form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Estado</label>
                    </div>

                    <div class="mt-1">
                        <button id="btnRegistrar" type="submit" class="btn btn-primary">Registrar</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card mb-3" style="width: 69%; float:right">
            <h3 class="card-header">Citas Registradas</h3>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id Cita</th>
                            <th scope="col">Nombre del Examen</th>
                            <th scope="col">Fecha Cita</th>
                            <th scope="col">Horas de atención</th>
                            <th scope="col">Cupos disponibles</th>
                            <th scope="col">Estado de la Cita</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">12346854654</th>
                            <td>Leucocitos</td>
                            <td>Lun - Mar - Vie</td>
                            <td>09:00 am</td>
                            <td>10</td>
                            <td>ACTIVA</td>
                        </tr>
                        <tr>
                            <th scope="row">12346854654</th>
                            <td>Leucocitos</td>
                            <td>Lun - Mar - Vie</td>
                            <td>09:00 am</td>
                            <td>10</td>
                            <td>ACTIVA</td>
                        </tr>
                        <tr>
                            <th scope="row">12346854654</th>
                            <td>Leucocitos</td>
                            <td>Lun - Mar - Vie</td>
                            <td>09:00 am</td>
                            <td>10</td>
                            <td>ACTIVA</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>

<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<script src="~/Scripts/Views/DashboardAdminLaboratorio/DashAdminLabRegistrarCitas.js"></script>