
@{
    ViewBag.Title = "DashAdminLabRegistrarExamen";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A5 {
        background-color: #4d81ba;
        text-decoration: none;
    }
</style>



<div class="divContenedorDelDashTab">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Registrar Examen</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" tabindex="-1" role="tab">Publicar Resultados</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content" style="min-width:345px">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
            <h4>Registrar Laboratorio</h4>

            <form class="was-validated">
                <div class="mb-3 w-100">
                    <div class="form-group has-validation w-100 d-flex flex-column">
                        <label class="form-label" for="txtNombre" id="inputGroupPrepend">Nombre del Exámen</label>
                        <input type="text" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, ingrese el nombre del exámen
                        </div>
                    </div>
                </div>

                <div class="mb-3 w-100">
                    <div class="form-group has-validation w-100 d-flex flex-column">
                        <label class="form-label" for="txtDescripción" id="inputGroupPrepend">Descripción del Exámen</label>
                        <textarea type="text" class="form-control w-100" id="txtDescripcion" aria-describedby="inputGroupPrepend" rows="3" required></textarea>
                        <div class="invalid-feedback">
                            Por favor, ingrese la descripción del exámen
                        </div>
                    </div>
                </div>

                <div class="mb-3 w-100">
                    <div class="form-group has-validation w-100 d-flex flex-column">
                        <label class="form-label" for="txtPrecio" id="inputGroupPrepend">Precio</label>
                        <div class="input-group">
                            <span class="input-group-text">₡</span>
                            <input type="number" class="form-control w-100" id="txtPrecio" aria-describedby="inputGroupPrepend" required>
                        </div>
                        <div class="invalid-feedback">
                            Por favor, ingrese el precio
                        </div>
                    </div>
                </div>

                
                <button type="submit" class="btn btn-primary mt-3 ">Registrar</button>
            </form>
        </div>


        <div class="tab-pane fade" id="profile" role="tabpanel">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
    </div>

</div>
