
@{
    ViewBag.Title = "DashboardAdminLaboratorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/DashBoard.css" />

<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<section class="ContenedorDeDashboard">
    <section class="contenedorDeNav">
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-user"></i>
            <p class="ContenedorDeNombre">Registrar Personal Tecnico</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-flask-vial"></i>
            <p class="ContenedorDeNombre">Registrar Producto</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav active">
            <i class="fa-solid fa-calendar-days"></i>
            <p class="ContenedorDeNombre">Registrar Citas</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-cart-shopping"></i>
            <p class="ContenedorDeNombre">Datos del laboratorio </p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-cart-shopping"></i>
            <p class="ContenedorDeNombre">Ver historial de ventas </p>
        </a>
    </section>

    <section class="contenedorDeHeader">
        <fieldset class="m-2">

            <div class="card mb-3" style="width: 30%; float:left">
                <h3 class="card-header">Buscar Cita</h3>
                <div class="card-body">
                    <form>

                        <div class="form-group">
                            <label class="col-form-label mt-1" for="inputDefault">Buscar por id de cliente</label>
                            <input type="text" class="form-control" placeholder="Digite el id del cliente" id="inputDefault">
                        </div>

                        <div class="form-group">
                            <label for="exampleSelect2" class="form-label mt-4">Buscar por Mes</label>
                            <select class="form-select" id="exampleSelect2">
                                <option>Enero</option>
                                <option>Febrero</option>
                                <option>Marzo</option>
                                <option>Abril</option>
                                <option>Junio</option>
                                <option>Julio</option>
                                <option>Agosto</option>
                                <option>Setiembre</option>
                                <option>Octubre</option>
                                <option>Noviembre</option>
                                <option>Diciembre</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label mt-4" for="inputDefault">Buscar por nombre del examen</label>
                            <input type="text" class="form-control" placeholder="Digite una palabra clave" id="inputDefault">
                        </div>

                    </form>
                </div>
            </div>

            <div class="card mb-3" style="width: 69%; float:right">
                <h3 class="card-header">Historial de Ventas</h3>
                <div class="card-body">
                    <h5 class="card-title">Lista de citas vendidas</h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id del Cliente</th>
                                <th scope="col">Tipo de Examen</th>
                                <th scope="col">Descripcion resultados</th>
                                <th scope="col">Fecha de resultados</th>
                                <th scope="col">Fecha de la cita</th>
                                <th scope="col">Precio de la cita</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <th scope="row">12346854654</th>
                                <td>Leucocitos</td>
                                <td>Leucocitos status = muy mal</td>
                                <td>2022-2-2</td>
                                <td>2022-2-4</td>
                                <td>15000</td>
                            </tr>
                            <tr class="table-secondary">
                                <th scope="row">12346854654</th>
                                <td>Leucocitos</td>
                                <td>Leucocitos status = muy mal</td>
                                <td>2022-2-2</td>
                                <td>2022-2-4</td>
                                <td>15000</td>
                            </tr>
                            <tr class="table-primary">
                                <th scope="row">12346854654</th>
                                <td>Leucocitos</td>
                                <td>Leucocitos status = muy mal</td>
                                <td>2022-2-2</td>
                                <td>2022-2-4</td>
                                <td>15000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </section>
</section>
