
@{
    ViewBag.Title = "DashboardAdminLaboratorio";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A7 {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
        background-color: #f3f3f363;
    }
</style>

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashBoardGeneral.css" />
<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="divContenedorDelDashTab" style="min-width:90vw">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Registrar Personal</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" tabindex="-1" role="tab">Permisos</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
            <fieldset class="m-2">
                <div class="card mb-3" style="width: 30%; float:left">

                    <h3 class="card-header">Agregar Personal</h3>

                    <div class="card-body">
                        <form id="frmRegistrarPersonal">
                            <section class="contenedorInputsRow">
                                <div class="mb-3 w-100 contenedorDeInputs">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <label class="form-label" for="txtNombre" id="inputGroupPrepend">Nombre</label>
                                        <input type="text" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Por favor, ingrese el nombre
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 w-100">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <label class="form-label" for="txtPrimerApellido" id="inputGroupPrepend">Primer apellido</label>
                                        <input type="text" class="form-control w-100" id="txtPrimerApellido" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Por favor, ingrese el primer apellido
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 w-100">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <label class="form-label" for="txtSegundoApellido" id="inputGroupPrepend">Segundo apellido</label>
                                        <input type="text" class="form-control w-100" id="txtSegundoApellido" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Por favor, ingrese el segundo apellido
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 w-100">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <label class="form-label" for="slt_rol" id="inputGroupPrepend">Rol</label>
                                        <select class="form-control w-100" id="slt_rol" aria-describedby="inputGroupPrepend">
                                            <option>Seleccione un rol</option>
                                            <option value="2">Administrador Laboratorio</option>
                                            <option value="3">Técnico</option>
                                            <option value="4">Paciente</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-3 w-100">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <label class="form-label" for="txtCorreo" id="inputGroupPrepend">Correo electronico</label>
                                        <input type="email" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" class="form-control w-100" id="txtCorreo" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Por favor, ingrese el correo electrónico
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 w-100">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <label class="form-label" for="txtTelefono" id="inputGroupPrepend">Teléfono</label>
                                        <input type="text" class="form-control w-100" id="txtTelefono" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Por favor, ingrese el teléfono
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 w-100 contenedorDeInputs">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <label class="form-label" for="txtClave" id="inputGroupPrepend">Contraseña</label>
                                        <input type="password" class="form-control w-100" id="txtClave" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Por favor, ingrese la contraseña
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 w-100 contenedorDeInputs">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <label class="form-label" for="Foto" id="inputGroupPrepend">Seleccione una foto de perfil</label>
                                        <input class="form-control w-100" type="file" id="Foto" aria-describedby="inputGroupPrepend">
                                    </div>
                                </div>
                                <div class="mb-3 w-100 contenedorDeInputs">
                                    <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                                        <button id="btnRegistrarPersonal" type="button" class="btn btn-primary mt-2">Registrar</button>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>

                <div class="card mb-3" style="width: 69%; float:right">

                    <h3 class="card-header">Personal Registrado</h3>

                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Rol</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Jacinto</th>
                                    <td>jacinto@labpaez.com</td>
                                    <td>83838383</td>
                                    <td>PENDIENTE</td>
                                    <td>Tecnico</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jacinto</th>
                                    <td>jacinto@labpaez.com</td>
                                    <td>83838383</td>
                                    <td>PENDIENTE</td>
                                    <td>Tecnico</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jacinto</th>
                                    <td>jacinto@labpaez.com</td>
                                    <td>83838383</td>
                                    <td>PENDIENTE</td>
                                    <td>Tecnico</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="tab-pane fade" id="profile" role="tabpanel">
            <fieldset class="m-2">
                <div class="card mb-3" style="width: 30%; float:left">
                    <h3 class="card-header">Editar Permisos</h3>
                    <div class="card-body">
                        <form>



                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Buscar correo" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
                                </div>
                                <p class="m-3 form-group">Editar Permisos</p>
                                <ul>
                                    <li>
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Registrar Examenes
                                        </label>
                                    </li>
                                    <li>
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Publicar Resultados de Examen
                                        </label>
                                    </li>
                                    <li>
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Manipular fechas de las citas
                                        </label>
                                    </li>
                                </ul>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="card mb-3" style="width: 69%; float:right">

                    <h3 class="card-header">Personal Registrado</h3>

                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Registrar Examenes</th>
                                    <th scope="col">Publicar Resultados</th>
                                    <th scope="col">Manipular Citas</th>
                                    <th scope="col">Rol</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">jacinto@labpaez.com</th>
                                    <td>SI</td>
                                    <td>SI</td>
                                    <td>NO</td>
                                    <td>Tecnico</td>
                                </tr>
                                <tr>
                                    <th scope="row">jacinto@labpaez.com</th>
                                    <td>SI</td>
                                    <td>SI</td>
                                    <td>NO</td>
                                    <td>Tecnico</td>
                                </tr>
                                <tr>
                                    <th scope="row">jacinto@labpaez.com</th>
                                    <td>SI</td>
                                    <td>SI</td>
                                    <td>NO</td>
                                    <td>Tecnico</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

</div>

<script src="~/Scripts/Views/DashboardAdminLaboratorio/personal.js"></script>
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
