
@{
    ViewBag.Title = "DashAdminLabRegistrarCitas";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";


}

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A9 {
        background-color: #4d81ba;
        text-decoration: none;
    }
</style>

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashBoardGeneral.css" />

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="divContenedorDelDashTres">
    <h4>Datos del Laboratorio</h4>
    <form class="form-group mt-2">
        <div class="form-group row mt-3">
            <label class="col-form-label" for="inputDefault">Nombre del Laboratorio</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Laboratorio Paez" id="inputDefault">
            </div>
        </div>

        <div class="form-group row mt-3">

            <label class="col-form-label" for="inputDefault">Nombre comercial</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Hermanos Paez S.A." id="inputDefault">
            </div>
        </div>

        <div class="form-group row mt-3">

            <label class="col-form-label" for="inputDefault">Correo electronico</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="laboratorios@paez.com" id="inputDefault">
            </div>
        </div>

        <div class="form-group row mt-3">

            <label class="col-form-label" for="inputDefault">Telefono</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" required placeholder="2224-2224" id="inputDefault">
            </div>
        </div>

        <div class="form-group row mt-3">

            <label class="col-form-label" for="inputDefault">Cedula juridica</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="213181313065030520 Juridica" id="inputDefault">
            </div>
        </div>
        <div class="form-group row mt-3">

            <label class="col-form-label" for="inputDefault">Pagina web</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="www.laboratoriospaez.com" id="inputDefault">
            </div>
        </div>
        <div class="form-group row mt-3">

            <label class="col-form-label" for="inputDefault">Redes sociales</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="instagram/laboratoriospaez" id="inputDefault">
            </div>
        </div>
        <button onclick="myfuncionGeneral()" type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    </form>


</div>


<script src="~/Scripts/Views/dashboardUsuario/DashboardValidacion.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
