@model List<DTO.Examen>
@{
    ViewBag.Title = "DashAdminLabRegistrarExamen";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<script src="~/Scripts/Views/DashboardAdminLaboratorio/Examen.js"></script>

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A5 {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
        background-color: #f3f3f363;
    }
</style>

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />
<link rel="stylesheet" href="~/Content/css/Login.css" />
<link rel="stylesheet" href="~/Content/css/DashboardCss/DashBoardGeneral.css" />
<link rel="stylesheet" href="~/Content/css/DashboardCss/DashBoardExamenes.css" />

<div class="divContenedorDelDashTab">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Registrar Examen</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#componentes" aria-selected="false" tabindex="-1" role="tab">Registrar componentes</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#horarios" aria-selected="false" tabindex="-1" role="tab">Registrar horarios</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" tabindex="-1" role="tab">Publicar Resultados</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content" style="min-width:345px">


        <!---------Registrar Examen---------------------------------------------------->

        <div class="tab-pane fade show active" id="home" role="tabpanel">
            <section class="ContenedorDeDashboardFleROWEXAMEN" style="gap: 1px">

                <form class="was-validated formularioContenedorDeDashboard">

                    <div class="mb-3 w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Nombre del Exámen</label>
                            <input type="text" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese el nombre del exámen
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Nombre interno</label>
                            <input type="text" class="form-control w-100" id="txtNombreInterno" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese el nombre interno
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 w-100" style="height: 135px;">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtDescripción" id="inputGroupPrepend">Descripción del Exámen</label>
                            <textarea type="text" class="form-control w-100" id="txtDescripcion" aria-describedby="inputGroupPrepend" rows="3" required></textarea>
                            <div class="invalid-feedback">
                                Por favor, ingrese la descripción del exámen
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Precio</label>
                            <input type="number" class="form-control w-100" id="txtPrecio" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese el precio
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnRegistrar">Registrar</button>
                </form>

                <div>

                    <div class="ContenedorDeDashboardTabOverFlow">
                        <table id="datos" class="table table-hover" style=" min-width: 55vw; border-radius: 10px;">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre de examen</th>
                                    <th scope="col">Nombre interno</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Ventas totales</th>
                                </tr>
                            </thead>                       
                        </table>
                    </div>
                </div>

            </section>
        </div>

        <!---------Registrar componentes---------------------------------------------------->

        <div class="tab-pane fade show active" id="componentes" role="tabpanel">

            <section class="ContenedorDeDashboardFleROWEXAMEN" style="gap: 1px">
                <form class="was-validated formularioContenedorDeDashboard" method="post">
                    <div class="mb-3 w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Nombre del componente</label>
                            <input type="text" class="form-control w-100" name ="NombreComponente" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese el nombre del componente
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Simbolo de medida</label>
                            <input type="text" class="form-control w-100" name="SimboloMedida" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese el simbolo de medida
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Medidad de referencia</label>
                            <input type="number" class="form-control w-100" name="MedidaReferencia" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Ingrese la medidad de referencia
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">ID</label>
                            @*<input type="number" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>*@
                        <select class="form-select" id="exampleSelect1" name="ExamenId">
                            <option value="" disabled selected hidden>Seleccione un Examen para la Cita</option>
                            @foreach (var u in Model)
                            {
                                <option value="@u.ExamenId">@u.NombreInterno</option>
                            }
                        </select>
                            <div class="invalid-feedback">
                                Por favor, ingrese la ID de examen
                            </div>
                        </div>
                    </div>
                    <button onclick="myfuncionGeneralRegistrar()" type="submit" class="btn btn-primary">Registrar</button>
                </form>

                <div>
                    <div>
                        <form class="d-flex" style="padding: 10px">
                            <input class="form-control me-sm-2" type="text" id="searchTermDos" onkeyup="doSearchDos()" placeholder="Buscar informacion">
                        </form>
                        <p class='noSearch hide'></p>
                    </div>


                    <div class="ContenedorDeDashboardTabOverFlow">
                        <table id="datosDos" class="table table-hover" style=" min-width: 55vw; border-radius: 10px;">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre del componente</th>
                                    <th scope="col">Simbolo de medida</th>
                                    <th scope="col">Medidad de referencia</th>
                                    <th scope="col">ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Sangre</td>
                                    <td>SL/%</td>
                                    <td>SL/%</td>
                                    <td>ES-0315</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>


        <!---------Registrar horarios---------------------------------------------------->

        <div class="tab-pane fade show active" id="horarios" role="tabpanel">
            <section class="ContenedorDeDashboardFleROWEXAMEN" style="gap: 1px">

                <form class="was-validated formularioContenedorDeDashboard">
                    <div class=" w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Dia de cita</label>
                            <input type="date" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese el dia de cita
                            </div>
                        </div>
                    </div>

                    <div class=" w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Hora de inicio</label>
                            <input type="time" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese la hora de inicio
                            </div>
                        </div>
                    </div>

                    <div class=" w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Hora final</label>
                            <input type="time" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese la hora de final
                            </div>
                        </div>
                    </div>


                    <div class=" w-100 contenedorDeInputs">
                        <div class="form-group has-validation w-100 d-flex flex-column">
                            <label class="form-label" for="txtNombre" id="inputGroupPrepend">Cupos disponibles</label>
                            <input type="number" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                                Por favor, ingrese la ID de examen
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-1">
                        <label for="exampleSelect2" class="form-label">Escoja el Examen para la Cita</label>
                        <select class="form-select" id="examenesId">
                            <option value="" disabled selected hidden>Seleccione un Examen para la Cita</option>
                            @foreach (var u in Model)
                            {
                                <option value="@u.ExamenId">@u.NombreInterno</option>
                            }
                        </select>
                    </div>
                    <button onclick="myfuncionGeneralRegistrar()" type="submit" class="btn btn-primary">Registrar</button>
                </form>


                <div>
                    <div class="ContenedorDeDashboardTabOverFlow">
                        <table id="datos" class="table table-hover" style=" min-width: 55vw; border-radius: 10px;">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre de examen</th>
                                    <th scope="col">Nombre interno</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Ventas totales</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </section>
        </div>

        <!---------Publicar Resultados---------------------------------------------------->

        <div class="tab-pane fade" id="profile" role="tabpanel">
            <div class="tab-pane fade show active" id="home" role="tabpanel">
                <h4>Publicar Resultados</h4>

                <div class="tab-pane fade show active" id="home" role="tabpanel">
                    <fieldset class="m-2">
                        <div class="card mb-3" style="width: 30%; float:left">
                            <div class="card-body">
                                <form>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Buscar codigo cita" aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
                                    </div>
                                    <div class="mb-3 w-100">
                                        <div class="form-group has-validation w-100 d-flex flex-column">
                                            <label class="form-label" for="txtDescripción" id="inputGroupPrepend">Descripción del Exámen</label>
                                            <textarea type="text" class="form-control w-100" id="txtDescripcion" aria-describedby="inputGroupPrepend" rows="3" required></textarea>
                                            <div class="invalid-feedback">
                                                Por favor, ingrese la descripción del exámen
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 w-100">
                                        <label for="exampleSelect2" class="form-label">Estado de la cita</label>
                                        <select class="form-select" id="citaEstado">
                                            <option>PENDIENTE</option>
                                            <option>COMPLETADO</option>
                                            <option>NO ASISTIO</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button onclick="myfuncionGeneral()" type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="card mb-3" style="width: 69%; float:right">

                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre Paciente</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Descripcion Resultados</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Fecha publicacion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Jacinto</th>
                                            <td>jacinto@labpaez.com</td>
                                            <td>
                                                <p>Examen: Hemoglobina</p>
                                                <p>Resultado: Hb = 13,5</p>
                                            </td>
                                            <td>Completado</td>
                                            <td>11/10/2022</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Jacinto</th>
                                            <td>jacinto@labpaez.com</td>
                                            <td>
                                                <p>Examen: Hemoglobina</p>
                                                <p>Resultado: Hb = 13,5</p>
                                            </td>
                                            <td>Completado</td>
                                            <td>11/10/2022</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Jacinto</th>
                                            <td>jacinto@labpaez.com</td>
                                            <td>
                                                <p>Examen: Hemoglobina</p>
                                                <p>Resultado: Hb = 13,5</p>
                                            </td>
                                            <td>Completado</td>
                                            <td>11/10/2022</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Buscar cita por palabra clave" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-dark" type="button" id="button-addon2">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

</div>

