
@{
    ViewBag.Title = "DashboardAdminLaboratorio";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A7 {
        background-color: #4d81ba;
        text-decoration: none;
    }
</style>

<link rel="stylesheet" href="~/Content/css/DashBoard.css" />
<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<div class="divContenedorDelDashUno">
    <fieldset class="m-2">
        <div class="card mb-3" style="width: 30%; float:left">

            <h3 class="card-header">Agregar Personal</h3>

            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label class="form-label" for="inputDefault">Ingrese el correo</label>
                        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label">Elija el tipo de rol</label>
                        <select class="form-select" id="exampleSelect1">
                            <option>1 - Admin</option>
                            <option>2 - Personal Técnico</option>
                            <option>3 - Dar de baja del laboratorio</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-3" style="width: 69%; float:right">

            <h3 class="card-header">Personal Registrado</h3>

            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Jacinto</th>
                            <td>jacinto@labpaez.com</td>
                            <td>83838383</td>
                            <td>PENDIENTE</td>
                            <td>Tecnico</td>
                        </tr>
                        <tr>
                            <th scope="row">Jacinto</th>
                            <td>jacinto@labpaez.com</td>
                            <td>83838383</td>
                            <td>PENDIENTE</td>
                            <td>Tecnico</td>
                        </tr>
                        <tr>
                            <th scope="row">Jacinto</th>
                            <td>jacinto@labpaez.com</td>
                            <td>83838383</td>
                            <td>PENDIENTE</td>
                            <td>Tecnico</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>

<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
