
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/Login.css" />
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<section class="loginSectionContenedor mt-5 mb-5">

    <form data-aos="fade-up" name="formValidacion"
          data-aos-duration="3000" class="was-validated" id="formContenedorId">
        <h4>Ingrese sus Datos</h4>

        <section class="contenedorInputsRow">
            <div class="mb-3 w-100 contenedorDeInputs">
                <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                    <label class="form-label" for="txtNombre" id="inputGroupPrepend">Nombre</label>
                    <input type="text" class="form-control w-100" id="txtNombre" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Por favor, ingrese su nombre completo
                    </div>
                </div>
            </div>

        <div class="mb-3 w-100">
            <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                <label class="form-label" for="txtPrimerApellido" id="inputGroupPrepend">Primer apellido</label>
                <input type="text" class="form-control w-100" id="txtPrimerApellido" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Por favor, ingrese su primer apellido
                </div>
            </div>
        </div>

        <div class="mb-3 w-100">
            <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                <label class="form-label" for="txtSegundoApellido" id="inputGroupPrepend">Segundo apellido</label>
                <input type="text" class="form-control w-100" id="txtSegundoApellido" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Por favor, ingrese su segundo apellido
                </div>
            </div>
        </div>

        <div class="mb-3 w-100">
            <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                <label class="form-label" for="txtCorreo" id="inputGroupPrepend">Correo eléctronico</label>
                <input type="email" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" class="form-control w-100" id="txtCorreo" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Por favor, ingrese su correo eléctronico
                </div>
            </div>
        </div>

        <div class="mb-3 w-100">
            <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                <label class="form-label" for="txtTelefono" id="inputGroupPrepend">Teléfono</label>
                <input type="text" class="form-control w-100" id="txtTelefono" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Por favor, ingrese su teléfono
                </div>
            </div>
        </div>

            <div class="mb-3 w-100 contenedorDeInputs">
                <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                    <label class="form-label" for="txtClave" id="inputGroupPrepend">Contraseña</label>
                    <input type="password" class="form-control w-100" id="txtClave" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Por favor, ingrese su contraseña
                    </div>
                </div>
            </div>
        </section>

        <div class="mb-3 w-100 contenedorDeInputs">
            <div class="form-group has-validation w-100 d-flex flex-column align-items-center">
                <label class="form-label" for="Foto" id="inputGroupPrepend">Seleccione su foto de perfil</label>
                <input class="form-control w-100" type="file" id="Foto" aria-describedby="inputGroupPrepend">
            </div>
        </div>


        <button type="button" id="btnRegistrarse" class="btn btn-primary">Crear Cuenta</button>
    </form>


    <img loading="lazy" data-aos="fade-down"
         data-aos-duration="3000" class="imagenLogin" src="~/Content/imgs/vectoriales/medicos.png" alt="Imagen Login Family medice" />

</section>

<script src="~/Scripts/Views/jquery-3.2.1.js"></script>
<script src="~/Scripts/Views/ValidacionGeneralParaLasPaginas.js"></script>
<script src="~/Scripts/Views/Usuarios.js"></script>
<script src="~/Scripts/Views/dashboardUsuario/DashboardValidacion.js"></script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script>
    AOS.init({
        once: true,
    });
</script>