
@{
    ViewBag.Title = "CicloLab";
}

<link rel="stylesheet" href="~/Content/css/Laboratorios.css" />
<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />

<section style="height: 100vh;">
    <div class="slider">
        <ul>
            <li>
                <img class="imageSlider" src="~/Content/imgs/Labs/cicloLab/CL1.jpg" alt="">
            </li>
            <li>
                <img class="imageSlider" src="~/Content/imgs/Labs/cicloLab/CL2.jpg" alt="">
            </li>
            <li>
                <img class="imageSlider" src="~/Content/imgs/Labs/cicloLab/CL3.jpg" alt="">
            </li>
            <li>
                <img class="imageSlider" src="~/Content/imgs/Labs/cicloLab/CL4.png" alt="">
            </li>
        </ul>
        <div class="divDifumador"></div>

        <div class="divContenederDeInformacion">
            <section class="ContenederDeInformacion">
                <img class="imgLaboratorio" src="~/Content/imgs/Labs/Lab1Blanco.png" />
                <h1 class="tituloLaboratorio">CicloLab</h1>
                <p class="parrafoDescripcionDeLab">
                    Más de 30 años realizando diferentes exámenes con los mejores precios
                    del mercado. Desde 1988 ofreciendo el mejor servicio del mercado.
                    El mejor laboratorio del mercado con diferentes sedes por todo el país.
                </p>
            </section>
        </div>
    </div>
</section>

<section class="contenedorDeTablasDeExamen">

    <h3 class="tituloGeneralDeExamens">Nuestros examenes</h3>

    <table class="table table-hover" style=" min-width: 60vw; border-radius: 10px;">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripccion</th>
                <th scope="col">Precio</th>
                <th scope="col">Dias de examen</th>
                <th scope="col">Comprar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Examen de sangre</td>
                <td>El análisis de sangre es el hemograma completo.</td>
                <td id="precio">₡12000</td>
                <td>Lunes-Martes-Miercoles</td>
                <td class="irAExamen">Agregar al carrito</td>
            </tr>
            <tr>
                <td>Examen de sangre</td>
                <td>El análisis de sangre es el hemograma completo.</td>
                <td id="precio">₡12000</td>
                <td>Lunes-Martes-Miercoles</td>
                <td class="irAExamen">Agregar al carrito</td>
            </tr>
            <tr>
                <td>Examen de sangre</td>
                <td>El análisis de sangre es el hemograma completo.</td>
                <td id="precio">₡12000</td>
                <td>Lunes-Martes-Miercoles</td>
                <td class="irAExamen">Agregar al carrito</td>
            </tr>
            <tr>
                <td>Examen de sangre</td>
                <td>El análisis de sangre es el hemograma completo.</td>
                <td id="precio">₡12000</td>
                <td>Lunes-Martes-Miercoles</td>
                <td class="irAExamen">Agregar al carrito</td>
            </tr>
            <tr>
                <td>Examen de sangre</td>
                <td>El análisis de sangre es el hemograma completo.</td>
                <td id="precio">₡12000</td>
                <td>Lunes-Martes-Miercoles</td>
                <td class="irAExamen">Agregar al carrito</td>
            </tr>
            <tr>
                <td>Examen de sangre</td>
                <td>El análisis de sangre es el hemograma completo.</td>
                <td id="precio">₡12000</td>
                <td>Lunes-Martes-Miercoles</td>
                <td class="irAExamen">Agregar al carrito</td>
            </tr>
            <tr>
                <td>Examen de sangre</td>
                <td>El análisis de sangre es el hemograma completo.</td>
                <td id="precio">₡12000</td>
                <td>Lunes-Martes-Miercoles</td>
                <td class="irAExamen">Agregar al carrito</td>
            </tr>
            <tr>
                <td>Examen de sangre</td>
                <td>El análisis de sangre es el hemograma completo.</td>
                <td id="precio">₡12000</td>
                <td>Lunes-Martes-Miercoles</td>
                <td class="irAExamen">Agregar al carrito</td>
            </tr>
        </tbody>
    </table>
</section>