
@{
    ViewBag.Title = "BusquedaExamen";
    Layout = "~/Views/Shared/_LayoutBusqueda.cshtml";
}

<link rel="stylesheet" href="~/Content/css/sweetalert.css" />

<div class="container mt-5">
    <form class="d-flex justify-content-center">
        <input class="form-control me-sm-2 w-50" type="text" placeholder="Buscar Exámen" style="max-width:none !important">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</div>

<div class="mt-4 flex-wrap d-flex w-100 justify-content-center" style="min-height:35vw">

    <div class="card border-light m-3 shadow-sm h-100" style="max-width: 20rem;">
        <div class="card-header text-center">
            <h5><strong>Exámen de Orina</strong></h5>
        </div>
        <div class="card-body">
            <div class="text-center mb-2" style="max-height:12rem">
                <h5><strong>Ciclo Lab</strong></h5>
            </div>
            <div class="container" style="min-height:12rem">
                <p class="card-text">Un análisis de orina es una prueba que se le hace a la orina. Se utiliza para detectar y controlar una amplia variedad de trastornos, como infecciones de las vías urinarias, enfermedad renal y diabetes.</p>
            </div>
            <div class="text-center mb-2" style="max-height:12rem">
                <h5><strong>₡10000</strong></h5>
            </div>
            <div class="d-flex justify-content-center">
                <button onclick="myfuncionGeneralCarrito()" class="btn btn-outline-primary">
                    Añadir al carrito
                </button>
            </div>
        </div>
    </div>

    <div class="card border-light m-3 shadow-sm h-100" style="max-width: 20rem;">
        <div class="card-header text-center">
            <h5><strong>Exámen de Sangre</strong></h5>
        </div>
        <div class="card-body">
            <div class="text-center mb-2" style="max-height:12rem">
                <h5><strong>Alchemy Labs</strong></h5>
            </div>
            <div class="container" style="min-height:12rem">
                <p class="card-text">Evaluar el funcionamiento de diferentes órganos del cuerpo, como el hígado, los riñones, el corazón o la tiroides. Diagnosticar trastornos hemorrágicos o de la coagulación. Averiguar si el sistema inmunitario está teniendo problemas para combatir las infecciones.</p>
            </div>
            <div class="text-center mb-2" style="max-height:12rem">
                <h5><strong>₡24000</strong></h5>
            </div>
            <div class="d-flex justify-content-center">
                <button onclick="myfuncionGeneralCarrito()" class="btn btn-outline-primary">
                    Añadir al carrito
                </button>
            </div>
        </div>
    </div>

    <div class="card border-light m-3 shadow-sm h-100" style="max-width: 20rem;">
        <div class="card-header text-center">
            <h5><strong>Prueba genética</strong></h5>
        </div>
        <div class="card-body">
            <div class="text-center mb-2" style="max-height:12rem">
                <h5><strong>The Lab</strong></h5>
            </div>
            <div class="container" style="min-height:12rem">
                <p class="card-text">identifica cambios en genes, cromosomas o proteínas. Sus resultados pueden confirmar o descartar una posible afección genética o ayudar a determinar la probabilidad de que una persona desarrolle o transmita un trastorno genético.</p>
            </div>
            <div class="text-center mb-2" style="max-height:12rem">
                <h5><strong>₡30000</strong></h5>
            </div>
            <div class="d-flex justify-content-center">
                <button onclick="myfuncionGeneralCarrito()" class="btn btn-outline-primary">
                    Añadir al carrito
                </button>
            </div>
        </div>
    </div>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/Views/dashboardUsuario/DashboardValidacion.js"></script>