
@{
    ViewBag.Title = "Busqueda";
    Layout = "~/Views/Shared/_LayoutBusqueda.cshtml";
}

<div class="container mt-5">
    <form class="d-flex justify-content-center">
        <input class="form-control me-sm-2 w-50" type="text" placeholder="Buscar Laboratorio" style="max-width:none !important">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</div>

<div class="mt-4 flex-wrap d-flex w-100 justify-content-center" style="min-height:35vw">

    <div class="card border-light m-3 shadow-sm h-100" style="max-width: 20rem;">
        <div class="card-header text-center">
            <h5><strong>Ciclo Lab</strong></h5>
        </div>
        <div class="card-body">
            <div class="text-center mb-2" style="max-height:10rem">
                <img src="~/Content/imgs/Labs/Lab1.jpg" class="w-100" alt="..." style="border-radius: 5px; max-height: 190px">
            </div>
            <div class="container" style="min-height:5rem">
                <p class="card-text">Más de 30 años realizando diferentes exámenes con los mejores precios del mercado.</p>
            </div>

            <p><a class="btn btn-outline-primary" href="">Ver más &raquo;</a></p>
        </div>
    </div>

    <div class="card border-light m-3 shadow-sm h-100" style="max-width: 20rem;">
        <div class="card-header text-center">
            <h5><strong>Alchemy Labs</strong></h5>
        </div>
        <div class="card-body">
            <div class="text-center mb-2" style="max-height:10rem">
                <img src="~/Content/imgs/Labs/Lab2.jpg" class="w-100" alt="..." style="border-radius: 5px; max-height: 190px">
            </div>
            <div class="container" style="min-height:5rem">
                <p class="card-text">El mejor laboratorio del mercado con diferentes sedes por todo el país.</p>
            </div>

            <p><a class="btn btn-outline-primary" href="">Ver más &raquo;</a></p>
        </div>
    </div>

    <div class="card border-light m-3 shadow-sm h-100" style="max-width: 20rem;">
        <div class="card-header text-center">
            <h5><strong>The Lab</strong></h5>
        </div>
        <div class="card-body">
            <div class="text-center mb-2" style="max-height:10rem">
                <img src="~/Content/imgs/Labs/Lab3.jpg" class="w-100" alt="..." style="border-radius: 5px; max-height: 190px">
            </div>
            <div class="container" style="min-height:5rem">
                <p class="card-text">Desde 1988 ofreciendo el mejor servicio del mercado.</p>
            </div>

            <p><a class="btn btn-outline-primary" href="">Ver más &raquo;</a></p>
        </div>
    </div>

</div>

