
@{
    ViewBag.Title = "CarritoDeCompras";
}

<link rel="stylesheet" href="~/Content/css/carritoDeCompras.css" />


<hgroup class="grupoCarrito">

    <div class="divContenedorDeTodosLosExamenes">

        <section id="idCarritoContenedorDeExamenes" class="ContenedorDeExamenes">
            <div class="flexClass divExamenCotenido">
                <h2 class="tituloDeExamen">Examen de Sangre </h2>
                <p class="descripcionExamen">Evaluar el funcionamiento de diferentes órganos del cuerpo, como el hígado, los riñones, el corazón o la tiroides. Diagnosticar trastornos hemorrágicos o de la coagulación. Averiguar si el sistema inmunitario está teniendo problemas para combatir las infecciones</p>
                <span class="laboratorioExamen">CLINICOCR</span>
            </div>
            <div class="flexClass">
                <select class="form-select" aria-label="Default select example">
                    <option value="" disabled selected hidden>Numero de examenes</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span class="precioMonto">₡24000</span>
            </div>
            <button type="submit" id="remove" class="eliminarExamen"><i class="fa-solid fa-trash"></i></button>
        </section>

    </div>

    <!--CONTENEDOR DE PAGOS-->

    <section class="contenidoPreciosPago">
        <h3 class="tituloResumen"></h3>

        <hgroup class="grupoCarritoInfomacion">
            <div class="contentenedorDelNumeroDeProductos">
                <span class="numeroDeProductosOdeCargosExtra V4">1</span>
                <span class="textNormalCarrito">Productos</span>
            </div>
            <span class="contendorPrecioTotalDeLosProductos V1">₡24000</span>
        </hgroup>

        <hgroup class="grupoCarritoInfomacion">
            <div class="contentenedorDelNumeroDeProductos">
                <span class="numeroDeProductosOdeCargosExtra V5">1</span>
                <span class="textNormalCarrito">Cargo extra</span>
            </div>
            <span class="contendorPrecioTotalDeLosProductos V2">₡150</span>
        </hgroup>

        <hgroup class="grupoCarritoInfomacion">
            <h2 class="textNormalCarrito">Total</h2>
            <span class="contendorPrecioTotalDeLosProductos V3 total">₡24150</span>
        </hgroup>

        <hr />

        <a class="pagoPorPaypal" style="text-decoration:none;" href="javascript:ventanaSecundaria('https://deportesymas.com.es/ejemplo.html')">Pagar por PAYPAL</a>
        <!--<button class="pagoPorPaypal">Pagar por PAYPAL</button>-->

        <div class="flexClass">
            <span class="textNormalCarrito">Aplicar un codigo de descuento</span>
            <div class="grupoDeCuponDescuento">
                <input type="text" class="form-control cupon" placeholder="Cupon" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </div>

    </section>

</hgroup>

<script src="~/Scripts/Views/carritoDeComprasjs.js"></script>
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>

