
@{
    ViewBag.Title = "DashboardUsuario";
}

<link rel="stylesheet" href="~/Content/css/DashBoard.css" />

<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<section class="ContenedorDeDashboard">
    <section class="contenedorDeNav">
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-user"></i>
            <p class="ContenedorDeNombre">Usuario</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-flask-vial"></i>
            <p class="ContenedorDeNombre">Examenes</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav active">
            <i class="fa-solid fa-calendar-days"></i>
            <p class="ContenedorDeNombre">Citas</p>
        </a>
        <a href="" class="mb-2 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-cart-shopping"></i>
            <p class="ContenedorDeNombre">Compras </p>
        </a>
    </section>

    <section class="contenedorDeHeader">

    </section>
</section>

