
@{
    ViewBag.Title = "DashboardUsuario";
}

<link rel="stylesheet" href="~/Content/css/DashBoard.css" />

<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<section class="ContenedorDeDashboard">
    <section class="contenedorDeNav">
        <hgroup class="mb-3 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-user ContenedorDeNombre"></i>
            <p class="ContenedorDeNombre">Usuario</p>
        </hgroup>
        <hgroup class="mb-3 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-user ContenedorDeNombre"></i>
            <p class="ContenedorDeNombre">Usuario</p>
        </hgroup>
        <hgroup class="mb-3 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-user ContenedorDeNombre"></i>
            <p class="ContenedorDeNombre">Usuario</p>
        </hgroup>
        <hgroup class="mb-3 contenedorDeOpcionesDelNav">
            <i class="fa-solid fa-user ContenedorDeNombre"></i>
            <p class="ContenedorDeNombre">Usuario</p>
        </hgroup>
    </section>

    <section class="contenedorDeHeader">

    </section>
</section>

