@{
    ViewBag.Title = "Home Page";
}

<div class="carousel mb-4">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/pexels-tima-miroshnichenko-9574410.jpg" class="d-block w-100" style="opacity:0.80 !important; border-radius: 5px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-black"><strong>Family Medicine</strong></h1>
                <h2 class="text-black text-center"><strong>Los mejores laboratorios en un solo lugar</strong></h2>
            </div>
        </div>
    </div>  
</div>

<div class="container shadow mb-5" style="border-radius: 5px">
    <div class="row align-items-center justify-content-center">
        <div class="col-3 col-sm-2 text-center">
            <img src="~/img/laboratorio.png" class="w-75 p-2" alt="...">
        </div>
        <div class="col-5">
            <h2>
                Laboratorios
            </h2>
            <p>
                En Family Medicine te ofrecemos diferentes opciones de laboratorios, para que puedas seleccionar el que más se ajuste a tus necesidades.
            </p>
        </div>
        <div class="col-3 text-center">
            <a class="btn btn-primary">Ver todos</a>
        </div>
    </div>
</div>

<div class="container shadow mb-5" style="border-radius: 5px">
    <div class="row align-items-center justify-content-center">
        <div class="col-3 col-sm-2 text-center">
            <img src="~/img/tubo.png" class="w-75 p-2" alt="...">
        </div>
        <div class="col-5">
            <h2>
                Exámenes
            </h2>
            <p>
                En Family Medicine te ofrecemos múltiples  opciones de análisis de laboratorio, para garantizarte un estudio completo de tu salud.
            </p>
        </div>
        <div class="col-3 text-center">
            <a class="btn btn-primary">Ver todos</a>
        </div>
    </div>
</div>

<div class="container bg-light">

</div>
