
@{
    ViewBag.Title = "LandingPage";
}

<link rel="stylesheet" href="~/Content/css/landingPage.css" />
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://fonts.cdnfonts.com/css/lemonmilk" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<section class="contentBannerPrincipal">
    <div class="contenedorInfoPrincipal" data-aos="fade-down" data-aos-duration="3000">
        <h1 class="seoTitleB1">FAMILY <br /> MEDICINE</h1>
        <p class="discripccionBanner1" style=" font-weight: 600;">
            Somos una página donde puede contactar diferentes clínicas de todo el país de forma segura y rápida para la compra de diferentes exámenes. Estos los encontrará a precios increíbles además de encontrar diferentes ofertas y descuentos en los mismos.
        </p>
        <a class="botonPrincipal">Ir a inicio</a>
    </div>

    <div class="contenidoImg" data-aos="fade-up" data-aos-duration="3000">
        <div class="backgroundBanner"></div>
        <img class="imgBanner1" src="~/Content/imgs/otros/dclinico2.png" />
    </div>
</section>

<section class="contentBannerPrincipal" style="height: 70vh">


    <div class="contenedorInfoPrincipal" style="width: 600px;">
        <h1 class="seoTitleB1" style="font-size: 40px;">Nuestro servicios</h1>
        <p class="discripccionBanner1" data-aos="fade-up">
            Compara los precios del estudio en diferentes centros clinicos
        </p>
        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="3000">
            <i class="fa-solid fa-syringe faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Examanenes clinicos generales
            </p>
        </hgroup>

        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="2500">
            <i class="fa-solid fa-vial-virus faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Farmaceutica, farmacologia para cuidar tu salud en diferentes clinicas
            </p>
        </hgroup>

        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="2000">
            <i class="fa-solid fa-vial-circle-check faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Protegemos tu saludos
            </p>
        </hgroup>
    </div>

    <img width="380px" src="~/Content/imgs/otros/doctorB2.png" />
</section>

<section class="contentBannerPrincipal" style="height: 70vh">

    <div class="contenedorInfoPrincipal" style="width: 600px;">
        <h1 class="seoTitleB1" style="font-size: 30px; letter-spacing:3px;">
            Información necesaria sobre el estudio en un solo lugar
        </h1>

        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="2000">
            <i class="fa-solid fa-check faSolidIconoTipo2"></i>
            <p class="discripccionBanner1">
                Procedimiento del estudio
            </p>
        </hgroup>

        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="2000">
            <i class="fa-solid fa-check faSolidIconoTipo2"></i>
            <p class="discripccionBanner1">
                Clinicacas generales completas
            </p>
        </hgroup>

        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="2000">
            <i class="fa-solid fa-check faSolidIconoTipo2"></i>
            <p class="discripccionBanner1">
                Los mejores precios del pais
            </p>
        </hgroup>

        <a class="botonPrincipal">Ver laboratorios</a>
    </div>

    <img width="380px" src="~/Content/imgs/otros/doctores-medicos.png" />
</section>

<div>
    <h1 class="seoTitleB1" style="font-size: 30px; letter-spacing:3px; text-align: center;">
        ALGUNAS DE NUESTRAS MEJORES CLINICAS
    </h1>

    <section class="contentBannerPrincipal" style="height: 60vh">
        <div class="imgDoctor" data-aos="fade-up" data-aos-duration="2000">
            <img width="250px" src="~/Content/imgs/otros/clinica/c4.jpg" />
            <p class="textoNombre">LHS Clinica</p>
        </div>
        <div class="imgDoctor" data-aos="fade-down" data-aos-duration="3000">
            <img width="250px" src="~/Content/imgs/otros/clinica/cl.jpg" />
            <p class="textoNombre">LHS Center</p>
        </div>
        <div class="imgDoctor" data-aos="fade-up" data-aos-duration="2000">
            <img width="250px" src="~/Content/imgs/otros/clinica/cl2.jpg" />
            <p class="textoNombre">Medica Integral</p>
        </div>
        <div class="imgDoctor" data-aos="fade-down" data-aos-duration="3000">
            <img width="250px" src="~/Content/imgs/otros/clinica/cl3.jpg" />
            <p class="textoNombre">Sin Fronteras</p>
        </div>
    </section>
</div>



<section class="contentBannerPrincipal" style="height: 70vh">


    <div class="contenedorInfoPrincipal" style="width: 600px;">
        <h1 class="seoTitleB1" style="font-size: 40px;">CLINICAS AFILIADAS</h1>
        <p class="discripccionBanner1">
            Puedes verder tus examanes como afiliado clinico
        </p>
        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="3000">
            <i class="fa-solid fa-hospital faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Puedes dar servicios de examanenes clinicos generales
            </p>
        </hgroup>

        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="2000">
            <i class="fa-solid fa-hospital faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Puedes dar servicios de farmaceutica, farmacologia
            </p>
        </hgroup>

        <hgroup class="contenedorServicios" data-aos="fade-left" data-aos-duration="2000">
            <i class="fa-solid fa-dollar-sign faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Paga por ser afiliado por 100$ por mes
            </p>
        </hgroup>


        <a class="botonPrincipal" style="font-size: 18px;">Unete por 100$ por mes</a>
    </div>

    <img width="380px" src="~/Content/imgs/vectoriales/items.png" />
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script>
    AOS.init({
        once: true,
    });
</script>