
@{
    ViewBag.Title = "LandingPage";
}

<link rel="stylesheet" href="~/Content/css/landingPage.css" />
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://fonts.cdnfonts.com/css/lemonmilk" rel="stylesheet">

<section class="contentBannerPrincipal">
    <div class="contenedorInfoPrincipal">
        <h1 class="seoTitleB1">FAMILY <br /> MEDICINE</h1>
        <p class="discripccionBanner1" style=" font-weight: 600;">
            Contamos con más de 50 años a su servicio, a
            cargo de un excelente equipo de profesionales en Microbiología que trabaja
            a base de los más fuertes principios éticos profesionales y el compromiso
            de servir a sus pacientes.
        </p>
        <a class="botonPrincipal">Ir a inicio</a>
    </div>

    <div class="contenidoImg">
        <div class="backgroundBanner"></div>
        <img class="imgBanner1" src="~/Content/imgs/otros/dclinico2.png" />
    </div>
</section>

<section class="contentBannerPrincipal" style="height: 70vh">


    <div class="contenedorInfoPrincipal" style="width: 600px;">
        <h1 class="seoTitleB1" style="font-size: 40px;">Nuestro servicios</h1>
        <p class="discripccionBanner1">
            Contamos con más de 50 años a su servicio, a
            cargo de un excelente equipo de profesionales en Microbiología que trabaja
            a base de los más fuertes principios éticos profesionales y el compromiso
            de servir a sus pacientes.
        </p>
        <hgroup class="contenedorServicios">
            <i class="fa-solid fa-syringe faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Contamos con más de 50 años a su servicio
            </p>
        </hgroup>

        <hgroup class="contenedorServicios">
            <i class="fa-solid fa-vial-virus faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Contamos con más de 50 años a su servicio
            </p>
        </hgroup>

        <hgroup class="contenedorServicios">
            <i class="fa-solid fa-vial-circle-check faSolidIcono"></i>
            <p class="discripccionBanner1" style=" font-weight: 600;">
                Contamos con más de 50 años a su servicio
            </p>
        </hgroup>
    </div>

    <img width="380px" src="~/Content/imgs/otros/doctorB2.png" />
</section>

<section class="contentBannerPrincipal" style="height: 70vh">

    <div class="contenedorInfoPrincipal" style="width: 600px;">
        <h1 class="seoTitleB1" style="font-size: 30px; letter-spacing:3px;">
            Información necesaria sobre el estudio en un solo lugar
        </h1>

        <hgroup class="contenedorServicios">
            <i class="fa-solid fa-check faSolidIconoTipo2"></i>
            <p class="discripccionBanner1">
                Contamos con más de 50 años a su servicio
            </p>
        </hgroup>

        <hgroup class="contenedorServicios">
            <i class="fa-solid fa-check faSolidIconoTipo2"></i>
            <p class="discripccionBanner1">
                Contamos con más de 50 años a su servicio
            </p>
        </hgroup>

        <hgroup class="contenedorServicios">
            <i class="fa-solid fa-check faSolidIconoTipo2"></i>
            <p class="discripccionBanner1">
                Contamos con más de 50 años a su servicio
            </p>
        </hgroup>

        <a class="botonPrincipal">Ver laboratorios</a>
    </div>

    <img width="380px" src="~/Content/imgs/otros/doctores-medicos.png" />
</section>

<div>
    <h1 class="seoTitleB1" style="font-size: 30px; letter-spacing:3px; text-align: center;">
        NUESTROS DOCTORES
    </h1>

    <section class="contentBannerPrincipal" style="height: 60vh">
        <div class="imgDoctor">
            <img width="250px" src="~/Content/imgs/otros/doctores/dchouse.png" />
            <p class="textoNombre">Gregory House</p>
        </div>
        <div class="imgDoctor">
            <img width="250px" src="~/Content/imgs/otros/doctores/dc3.png" />
            <p class="textoNombre">Camila Grey</p>
        </div>
        <div class="imgDoctor">
            <img width="250px" src="~/Content/imgs/otros/doctores/dc2.png" />
            <p class="textoNombre">Jyden Brown</p>
        </div>
        <div class="imgDoctor">
            <img width="250px" src="~/Content/imgs/otros/doctores/d4.png" />
            <p class="textoNombre">Jenny Mcdonalds</p>
        </div>
    </section>
</div>