
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/Login.css" />
<script src="https://kit.fontawesome.com/e77fc0ae51.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


<section class="loginSectionContenedor">
    <img data-aos="fade-down"
         data-aos-duration="3000" class="imagenLogin" src="~/Content/imgs/vectoriales/medicos.png" alt="Imagen Login Family medice" />

    <form data-aos="fade-up"
          data-aos-duration="3000" class="was-validated" id="formContenedorId">
        <div class="mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid faColor fa-user"></i></span>
                <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese el nombre" required/>
                <div class="invalid-feedback">
                    Por favor, ingrese su nombre
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid  faColor fa-envelope"></i></span>
                <input type="email" class="form-control" id="txtCorreo" aria-describedby="emailHelp" placeholder="Ingrese el correo" required>
                <div class="invalid-feedback">
                    Por favor, ingrese su correo
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid  faColor fa-phone"></i></span>
                <input type="text" class="form-control" id="txtTelefono" placeholder="Ingrese el telefono" required/>
                <div class="invalid-feedback">
                    Por favor, ingrese su telefono
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid  faColor fa-key"></i></span>
                <input type="password" class="form-control" id="txtClave" placeholder="Ingrese la contraseña" required/>
                <div class="invalid-feedback">
                    Por favor, ingrese su contraseña
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid  faColor fa-image"></i></span>
                <input class="form-control" type="file" id="Foto" required/>
                <div class="invalid-feedback">
                    Por favor, ingrese su foto de perfil
                </div>
            </div>
        </div>
        <button type="submit" id="btnRigistrarse" class="btn btn-primary">Registrase</button>
    </form>
</section>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script>
    AOS.init({
        once: true,
    });
</script>