
@{
    ViewBag.Title = "RegistrarLaboratorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <fieldset class="mt-2">
        <div class="card mb-3 mt-5" style="width: 60%; float:left">
            <h1 class="card-header">Registrar Laboratorio</h1>

            <div class="row m-2">
                <div class="form-group">

                    <label class="col-form-label mt-4" for="NombreLaboratorio">Nombre de Laboratorio</label>
                    <input type="text" class="form-control" placeholder="Nombre" id="nombreLamboratorioInput">

                </div>

                <div class="form-group">

                    <label class="col-form-label" for="NombreLaboratorComercial">Nombre Comercial</label>
                    <input type="text" class="form-control" placeholder="Nombre Comercial" id="nombreComercialInput">

                </div>

                <div class="col-lg-6">

                    <div class="form-group m-1">
                        <h6>Cedula Juridica</h6>
                        <input type="text" class="form-control" id="cedulaInput" placeholder="Cedula">
                    </div>

                </div>

                <div class="col-lg-4 offset-lg-1>

                    <label for="RazonSocial" class="form-label">Razon Social</label>
                    <input type="text" class="form-control" id="razonSocialInput" placeholder="Razon Social">

                </div>

                <div class="col-lg-6">

                    <div class="form-group m-1">
                        <h6>Pagina Web</h6>
                        <input type="text" class="form-control" id="paginaWebInput" placeholder="www.pagina.com">
                    </div>

                </div>

                <div class="col-lg-4 offset-lg-1>

                    <label for="RazonSocial" class="form-label">Estado</label>
                    <select class="form-select m-1" id="estadoSelect">
                        <option value=""> -- Seleccione una opción</option>
                        <option>Activo</option>
                        <option>Inativo</option>
                        <option>Pendiento</option>
                    </select>

                </div>
            </div>
        </div>

        <div class="card mb-3 mt-5" style="width: 30%; float:left; margin-left:2rem">
            <div class="form-group m-1">

                <div class="form-group">
                    <h4>Contacto</h4>
                    <label class="col-form-label" for="Correo">Correo</label>
                    <input type="text" class="form-control" id="correoInput" placeholder="example@gmail.com">
                </div>

            </div>

            <div class="form-group m-2">

                <div class="form-group">
                    <label class="col-form-label" for="Telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefonoInput" placeholder="8888-8888">
                </div>

            </div>

            <div class="form-group m-2">

                <label for="RazonSocial" class="form-label">Tipo Membresia</label>
                <select class="form-select" id="tipoMembresia">
                    <option value=""> -- Seleccione una opción</option>
                    <option>Audiologia</option>
                    <option>Clinica</option>
                    <option>Educacion Tecnica</option>
                    <option>Hospital</option>
                    <option>Industria Farmaceutica</option>
                    <option>Industria Medica</option>
                    <option>Laboratorios Clinicos</option>
                    <option>Consorcio Dnntal</option>
                    <option>Odontologia</option>
                    <option>Proveedores</option>
                    <option>Proveedores Canje</option>
                    <option>Oftalmologia</option>
                    <option>Universidad</option>
                    <option>Turismo</option>
                    <option>Tecnologia</option>
                    <option>Servicios Medicos</option>
                    <option>Servicios de Ambulancias</option>
                </select>

            </div>
        </div>
        <button type="button" class="btn btn-primary" style="margin-left: 2rem">Subir Imagenes</button>
        <button type="button" class="btn btn-primary" style="margin-left: 2rem">Guardar Laboratorio</button>
    </fieldset>
</body>
