
@{
    ViewBag.Title = "RegistrarUsuarioTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-4" id="btnEnviarOTP">
    <h2>RegistrarUsuarioTest</h2>
    <button type="submit" class="btn btn-primary">Enviar OTP</button>
</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>>
<script src="~/Scripts/Views/RegistrarUsuario.js"></script>>