
@{
    ViewBag.Title = "PreguntasFrecuentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card border-dark mb-4 mt-5" style="max-width: 85%; margin-left:7rem">
    <div class="card-header">
        <h2>Preguntas Frecuentes</h2>
    </div>
    <div class="card-body">
        <h4 class="card-title">
            1 – ¿Todos los exámenes de laboratorio son de sangre?
        </h4>
        <p class="card-text">
            No, en Family Medicine se analizan distintas muestras que pueden ser: sangre, orina, deposiciones y otras secreciones, según correspondan a la solicitud del médico.
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            2 – ¿Todos los exámenes de sangre requieren ayuno?
        </h4>
        <p class="card-text">
            Algunos exámenes no requieren ayuno, salvo indicación de su médico.
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            3 – ¿Cuánta sangre me extraen para un examen de laboratorio?
        </h4>
        <p class="card-text">
            Dependerá de la cantidad de exámenes que se deba realizar. En términos generales, los análisis de laboratorio necesitan entre 3 y 10 mililitros de sangre (lo que equivale a entre 1 y 2 cucharaditas de té).
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            4 – ¿Debo pedir hora para realizarme los exámenes?
        </h4>
        <p class="card-text">
            Depende del tipo de examen que se deba realizar, le sugerimos consultar telefónicamente .
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            5 – ¿A qué número puedo solicitar información?
        </h4>
        <p class="card-text">
            Contamos con una central telefónica disponible para responder a sus consultas en el teléfono 354 8636. <br />
            Puedes llamar, según tu domicilio, a nuestros locales del Callao o al de San Juan de Lurigancho. Allí te darán la información requerida <br />
            Family Medicine San Juan de Lurigancho: Las Chulpas 288 (alt. Cdra. 3 Gran Chimú) Teléfono: +511 659-7038 E-mail: zarate@Family Medicine.com <br />
            Family Medicine Callao: Av. Miguel Grau 843 (ex Av. Buenos Aires) Teléfono: +511 465-7810 E-mail: callao@Family Medicine.com
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            6 – ¿Hasta qué hora puedo retirar los resultados de mis exámenes?
        </h4>
        <p class="card-text">
            Nuestras Laboratorios trabajan de Lunes a Sábado en los siguientes horarios: <br />
            San Juan de Lurigancho de 7.40 de la mañana hasta las 8.00 de la noche <br />
            Callao, de 8 de la  mañana hasta las 8.00 de la noche <br />
            Además, usted puede recibir los resultados por correo electrónico, solo asegúrese de entregar de manera clara su correo, y lo enviamos en el tiempo mínimo indispensable.
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            7 – ¿Dónde están ubicadas las distintas unidades de toma de muestra?
        </h4>
        <p class="card-text">
            Estamos ubicados en dos distritos estratégicos para su comodidad. En el Cercado del Callao y en San Juan de Lurigancho, Urb. Zarate
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            8 – ¿Cuánto tiempo demoran los resultados de mis exámenes?
        </h4>
        <p class="card-text">
            Cada examen tiene un tiempo de análisis determinado, por lo que recomendamos consultar al personal que lo atiende, el que lo informará la fecha y hora en que puede retirar sus resultados o recibirlos en su bandeja de correo electrónico.
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            9 – ¿Cuáles son los horarios de atención de la unidades de toma de muestra?
        </h4>
        <p class="card-text">
            Nuestras Unidades de Toma de Muestra, están disponibles de lunes a sábado de 8.00am a 8.00pm. A la orden de su médico, para realizar los análisis, que pueden ser urgentes, a solicitud de su médico tratante.
        </p>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            10 – ¿Puedo agregar exámenes a la orden médica?
        </h4>
        <p class="card-text">
            Si, debido a que es un procedimiento a solicitud, que puede ser de su médico o puede ser también de su parte.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            11 – ¿Atienden con tarjetas de Crédito?
        </h4>
        <p class="card-text">
            Sí. Atendemos con la mayoría de tarjetas de crédito, por favor consulte a nuestros teléfonos. En la sede del Callao, solo se atiende en efectivo.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            12 – ¿Cómo recojo una muestra de orina 24 horas?
        </h4>
        <p class="card-text">
            Es muy importante cuando se solicita un análisis en orina de 24 horas, que la totalidad de la orina emitida sea enviada al laboratorio. El volumen de la orina emitida es fundamental a efectos del calculo de algunos parámetros, por lo que sugiere especial atención en la recolección. <br />
            El día anterior al análisis, a primera hora de la mañana, debe desechar esa muestra, a partir de ese momento todas las veces que orine es ese mismo día debe recogerlas en un recipiente especial que podrá adquirir en el laboratorio, siendo la primera micción del día siguiente la ultima en recoger. <br />
            Si tiene alguna duda consulte con el laboratorio.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            13 – ¿Cual es la forma correcta de tomar una muestra de semen?
        </h4>
        <p class="card-text">
            Pregunte en el laboratorio los días y hora de entrega de la muestra de semen (Horario habitual: Lunes a Viernes de 8:30 a 12:30). <br />
            Cuatro días antes del previsto para la entrega de la muestra se mantendrá abstinencia sexual. En esos días no se tendrá perdidas de semen, ya sea por coito, masturbación u otra circunstancia. <br />
            En las ocho horas anteriores a la recogida del semen, no se debe realizar lavados del pene ni aplicar pomadas u otros productos. <br />
            Obtener el semen por masturbación, recogiéndole en el frasco estéril de boca ancha. No es válido el preservativo. <br />
            Debe recogerse la totalidad del semen. La recogida no será válida si se pierden algunas gotas o se derrama. <br />
            El frasco conteniendo el semen se transportará de la siguiente manera: <br /> <br />
            + Cerrado de forma hermética, resguardado en bolsa de plástico. <br />
            + Se evitará la fluctuación de temperatura, para ello se ha de reguardar de la temperatura ambiental, transportándolo pegado al cuerpo. <br />
            + Se entregará en el laboratorio antes de 1 hora desde la obtención del semen. <br />
            Facilite los datos que se le soliciten (número de teléfono, tratamientos médicos previos y actuales, duración de los mismos,…) para facilitar el estudio de su caso. <br />
            Si tiene alguna duda consulte con el laboratorio.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            14 – Me tengo que hacer un estudio de Sangre oculta en heces, ¿de que se trata?
        </h4>
        <p class="card-text">
            Con este análisis se investiga la presencia de pequeñas cantidades de sangre en materia fecal. Para esta determinación se requiere una dieta previa de 3 días basada en lo siguiente: <br />
            No comer absolutamente nada de carne <br />
            Comer solamente fruta y verdura. <br />
            Cepillarse suavemente los dientes para evitar el sangrado de encías. <br />
            Al cuarto día recoger la primera materia fecal eliminada en un recipiente de boca ancha.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            15 – El pediatra de mi hijo me manda un estudio de parasitología en heces con parche, ¿qué tengo que hacer?
        </h4>
        <p class="card-text">
            En lo posible, como dieta previa, suprimir las grasas en la alimentación (manteca, aceite, etc.). Esta determinación se realiza para detectar si existe presencia de parásitos en muestra fecal. La recogida se realiza de la siguiente forma: <br /> <br />
            + Se debe recoger en total tres muestras, de deposiciones diferentes. <br />
            + El recipiente en el que se deben de tomar las muestras es el de boca ancha que se adquiere en la farmacia. Un recipiente por muestra. <br />
            + Si el medico solicita el test de Graham o prueba del parche debe ponerse en contacto con el personal del laboratorio para que les facilite las instrucciones que debe seguir correctamente.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            16 – Me tengo que realizar un cultivo de orina, ¿cómo lo hago?
        </h4>
        <p class="card-text">
            La recogida de orina para el cultivo se debe realizar en un frasco estéril que se le entregará en el laboratorio. El paciente deberá estar sin medicación antibiótica o suspender la misma por lo menos 72 horas antes de la recogida de la muestra. Se debe recoger la primera orina de la mañana, previa higiene con agua y jabón de la zona genital (NO usar desinfectantes), descartando la primera porción de la micción. <br />
            Para la recogida de muestras de orina en bebes, existen unas bolsas estériles que se pueden adquirir en farmacias. Estas bolsas se adhieren a la zona genital del bebe. Seguir las instrucciones: <br />
            Lavar bien con agua y jabón la zona genital (no poner cremas). <br />
            Colocar la bolsa. Observar de vez en cuando si lo ha hecho. Si al cabo de 1 hora el bebe no ha orinado es conveniente volver a lavar la zona genital y colocar otra bolsita de nuevo uso. <br />
            Una vez recogida la muestra introducir la bolsita en un frasco estéril de farmacia. <br />
            La muestra debe ser remitida inmediatamente al laboratorio, no dejar pasar más de 1 hora.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            17 – Tengo cita con mi medico para dentro de 3 Días, ¿estará terminado el análisis?
        </h4>
        <p class="card-text">
            Por lo general, los resultados no suelen demorarse más de 48 horas. En cualquier caso, si la prueba que se debe realizar la tenemos que mandar a nuestro laboratorio de referencia, el resultado se aplazaría unos días más. Le recomendamos que antes de pedir cita con su medico, se informara en el laboratorio de los días que pudiera tardar su resultado, para evitar molestias.
        </p>
    </div>


    <div class="card-body mb-4">
        <h4 class="card-title">
            18 – Me quiero hacer un análisis general, ¿qué tengo que hacer?
        </h4>
        <p class="card-text">
            La manera correcta es acudir a su medico para que le recete en una prescripción el tipo de análisis que estime oportuno. Si usted tiene una compañía aseguradora dicha prescripción debe ir adecuadamente cumplimentada para evitar incidencias.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            19 – ¿En qué consiste el ayuno?
        </h4>
        <p class="card-text">
            Concurrir en ayunas es no ingerir alimentos sólidos ni líquidos (excepto agua) durante el lapso indicado por nuestro personal de recepción. La noche anterior debe ingerir su comida habitual. Los resultados de los análisis buscan reflejar el comportamiento de los mismos frente a sus hábitos cotidianos. <br />
            La ingesta también esta restringida para caramelos, chicles, bebidas azucaradas, etc. Si usted está tomando algún medicamento comuníqueselo al laboratorio, ya que el mismo puede interferir en los resultados de las determinaciones.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            20 – ¿Debo suspender la medicación que tomo para hacerme los análisis?
        </h4>
        <p class="card-text">
            Si toma Levotiroxina, se sugiere no hacerlo antes de la extracción. La toma de cualquier otra medicación deberá realizarse de manera habitual, salvo indicación contraria del medico o bien que el tipo de análisis solicitado necesite la suspensión de algún tipo de medicamento durante un periodo dado antes de la extracción o recolección de orina.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            21 – ¿Debo solicitar turno?
        </h4>
        <p class="card-text">
            No es necesario solicitar turno. Ud. podrá concurrir en cualquier horario a elección, cumpliendo los requisitos del examen requerido, salvo estudios especiales, como Curvas de glucosa, Cortisol, HPV, Espermogramas, extracciones pediátricas y otros, en cuyo caso, Ud. deberá asesorarse con anterioridad.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            22 – ¿Cómo y dónde debo recolectar la orina?
        </h4>
        <p class="card-text">
            Recolecte la primera orina de la mañana en un envase plástico limpio, no es necesario frasco estéril pero es lo recomendable. Si usted se levanta por la noche, junte la primera orina de la mañana con un mínimo de retención de 3 horas.
        </p>
    </div>


    <div class="card-body mb-4">
        <h4 class="card-title">
            23 – ¿Qué documentación debo llevar al momento de presentarme para los análisis?
        </h4>
        <p class="card-text">
            Deberá traer obligatoriamente la orden medica debidamente firmada por el médico tratante y el número de su documento de identidad.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            24 – ¿Qué tiempo de validez tiene la orden médica?
        </h4>
        <p class="card-text">
            La validez de la misma es relativa, puesto que los resultados de los análisis clínicos, tienen variaciones en el tiempo y pueden dar resultados inesperados al pasar los días. A semejanza de una foto que puede cambiar con el paso de los días.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            25 – ¿Que datos deben estar consignados en la misma?
        </h4>
        <p class="card-text">
            En la orden debe constar: Nombre y apellido del paciente, análisis que se debe realizar, fecha, firma y sello del médico solicitante.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            26 – ¿Puedo solicitar un presupuesto por teléfono de los estudios que me debo realizar?
        </h4>
        <p class="card-text">
            Si, enviándonos la orden por fax o e-mail le enviaremos el presupuesto correspondiente.
        </p>
    </div>

    <div class="card-body mb-4">
        <h4 class="card-title">
            27 – ¿Puedo enviar a otra persona a retirar mis estudios?
        </h4>
        <p class="card-text">
            Si, siempre y cuando presente la boleta de venta correspondiente.
        </p>
    </div>
</div>