
@{
    ViewBag.Title = "TerminosCondiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card border-dark mb-4 mt-5" style="max-width: 85%; margin-left:7rem">
    <div class="card-header">
        <h2>TÉRMINOS Y CONDICIONES</h2>
    </div>
    <div class="card-body">
        <h6 class="card-title">
            POR FAVOR LEA LOS SIGUIENTES TÉRMINOS Y CONDICIONES ANTES DE USAR ESTE SITIO WEB.
        </h6>
        <p class="card-text">
            Family Medicine es un servicio medicina de laboratorio. Al utilizar este servicio, acepta regirse por estos Términos y condiciones y otras leyes aplicables. Family Medicine se reserva el derecho de realizar cambios en cualquier momento y los cambios entrarán en vigencia inmediatamente después de su publicación. Si no acepta cumplir con estos Términos y condiciones, no utilice este sitio web.
        </p>
    </div>

    <div class="card-body">
        <h6 class="card-title">
            Al utilizar este sitio, acepta lo siguiente:
        </h6>
        <p class="card-text">
            + Es mayor de 18 años.<br />
            + La información que nos envía en los formularios de contacto para agendar o adquirir una prueba de laboratorio es veraz y precisa.<br />
            + No copiará ninguna imagen, texto o estructura de este sitio web.<br />
            + Utilizará el sitio de acuerdo con las instrucciones y para el uso previsto.<br />
            + Cumplirá con las políticas que se definen a continuación: <br />
        </p>
    </div>

    <div class="card-body">
        <h3 class="card-title">
            Política de compra
        </h3>
        <p class="card-text">
            La información de este sitio web es solo para fines informativos. Family Medicine no ofrece garantías, representaciones o respaldos explícitos o implícitos de ningún tipo con respecto a los servicios prestados. Es su exclusiva responsabilidad evaluar la exactitud, integridad y utilidad de todas las opiniones, consejos, servicios, mercadería y otra información proporcionada.
        </p>
    </div>

    <div class="card-body">
        <h6 class="card-title">
            COTIZACIONES PARA SERVICIOS DE PRUEBAS DE LABORATORIO
        </h6>
        <p class="card-text">
            Si requiere un presupuesto de sus análisis clínicos, el personal administrativo de Family Medicine emitirá la cotización de inmediato. Para recibir una cotización solo debe completar el formulario de Solicitud de cotización en línea o contactarlos directamente vía WhatsApp Business.
        </p>
    </div>

    <div class="card-body">
        <h6 class="card-title">
            POLÍTICA DE PREPAGO
        </h6>
        <p class="card-text">
            Todos los análisis clínicos deben ser cancelados por adelantado antes de que se puedan iniciar las pruebas.
        </p>
    </div>

    <div class="card-body">
        <h6 class="card-title">
            TÉRMINOS DE PAGO
        </h6>
        <p class="card-text">
            De establecerse un convenio de servicios con una empresa o persona natural por servicios de salud ocupacional, nuestros términos de pago son netos 5 días laborales después de recibir nuestra factura. Aceptamos cheques emitidos en bancos de Ecuador o transferencias bancarias . Se aplicará un recargo del 5% por mes a las cuentas que no se paguen dentro de los 30 días. Las cuentas vencidas deben estar al día antes de que se acepten nuevos trabajos.
        </p>
    </div>

    <div class="card-body">
        <h3 class="card-title">
            Política de Confidencialidad
        </h3>
        <p class="card-text">
            Family Medicine es un laboratorio de pruebas independiente. Los servicios de prueba son nuestro único negocio. Mantenemos una estricta confidencialidad de toda la información de nuestros pacientes.
        </p>
    </div>

    <div class="card-body">
        <h3 class="card-title">
            Política sobre el acceso a los Resultados de Laboratorio
        </h3>
        <p class="card-text">
            Los resultados son emitidos y enviados al correo electrónico en formato PDF o vía Whatsapp según lo acordado con el paciente al momento de registrar la orden de exámenes. También el paciente tiene la opción de retirar los resultados directamente en las instalaciones del Laboratorio. <br />
            El paciente es el único responsable de comunicar a terceros el resultado, sea o no en forma intencional, su información es confidencial. <br />
            El tiempo de entrega de resultados dependerá de cada análisis, razón por la cual, el paciente debe consultar esta información al momento de registrar y cancelar su orden de exámenes. <br />
        </p>
    </div>

    <div class="card-body">
        <h3 class="card-title">
            Política sobre el servicio de toma de muestra a domicilio
        </h3>
        <p class="card-text">
            Family Medicine brinda a sus pacientes el servicio de toma de muestra a domicilio a fin de facilitar el acceso de los adultos mayores, personas con movilidad reducida o con algún grado de dependencia o personas que por diferente índole no pueden acercarse a las instalaciones de la empresa para realizarse sus exámenes de laboratorio. <br />
            La toma de muestra es ejecutada por una persona autorizada y capacitada para el efecto, la cual asistirá al domicilio con todas las medidas de bioseguridad, preservando tanto su seguridad como la del paciente. El traslado de la muestra se rige bajo los estándares estipulados por las autoridades de Salud. <br />
            Para garantizar un correcto procedimiento de la toma de muestra, el paciente deberá suministrar información para su registro al momento de aceptar el servicio, esto incluye: nombre completo, número de cédula, dirección domiciliaria, orden médica y teléfono de contacto. <br />
            El costo de este servicio es informado al paciente previo al traslado a su domicilio, ya que varía según la dirección de residencia. <br />
            La entrega de resultados se realiza vía correo electrónico, vía WhatsApp o en forma impresa, según la solicitud del paciente. <br />
        </p>
    </div>

    <div class="card-body">
        <h3 class="card-title">
            Política sobre la interpretación de resultados
        </h3>
        <p class="card-text">
            Los resultados de los análisis clínico deben ser interpretados por un médico, Family Medicine no se hace responsable por interpretaciones de los resultados emitidas por personas o terceros que no sean profesionales de la Salud.
        </p>
    </div>

    <div class="card-body mb-4">
        <h3 class="card-title">
            Violación de los Términos y Condiciones
        </h3>
        <p class="card-text">
            Los usuarios de este sitio web acuerdan indemnizar, defender y mantener indemne a Family Medicine, sus empleados, proveedores y cualquier tercero proveedor de información al sitio web, contra todas las pérdidas, gastos, daños y costos, incluidos los honorarios razonables de abogados, que resulten de cualquier violación de estos Términos y condiciones por parte del usuario.<br />
            Las preguntas, inquietudes y comentarios siempre son bienvenidos. Póngase en contacto con nosotros para garantizar la satisfacción del cliente, Nuestros clientes pueden recibir correos electrónicos ocasionales pidiéndole que califique nuestro desempeño.
        </p>
    </div>
</div>

