.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    padding: 3px 10px 3px 10px !important;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0% !important;
    padding-left: 0% !important;
    margin-right: 0% !important;
    margin-left: 0% !important;
}

body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}





/*=====================================
                  dashboard
 ========================================*/

.ContenedorDeDashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 90vh;
    padding-top: 0px;
}

.modal-dialog {
    background-color: #ffffff !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important; 
    border-radius: 10px;
}
/*--------------NAV---------------------------*/
.contenedorDeNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #ffffff;
    height: 70vh;
    width: 270px;

    margin: 10px;
    z-index: 4567;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contenedorDeOpcionesDelNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px 10px;
    transition: 544ms;
    width: 140px;
    padding: 10px;

    text-decoration: none;
    border-radius: 7px;
}

    .contenedorDeOpcionesDelNav:hover {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 10px 10px;
        transition: 544ms;
        width: 140px;
        padding: 10px;
        background-color: #f3f3f363;

        text-decoration: none;
        border-radius: 7px;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
    }

.ContenedorDeNombre {
    color: #325D88;
    font-size: 19px;
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0;
}

.ContenedorDeNombre:hover {
    color: #325D88;
    font-size: 19px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 0;
}

.fa-solid {
    color: #325D88;
    font-size: 17px !important;
    margin: 0;
    width: 20px;
    text-align: center;
}

/*--------------HEADER CONTENEDOR--------------------*//*--------------HEADER CONTENEDOR--------------------*/

.contenedorDeHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100vh;
    background-color: #325D88;
    gap: 10px 10px;

    padding-left: 290px !important;

    position: fixed;
    z-index: 2131;
}

*{
    overflow:hidden;
}

/*=================Contenedor General del dash=================*/

.divContenedorDelDashUno {
    height: 97vh;
    width: 99%;

    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px 0px 0px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.divContenedorDelDashDos {
    height: 88vh;
    width: 50%;

    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px 0px 0px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.divContenedorDelDashTres {
    height: 88vh;
    width: 410px;

    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px 0px 0px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



/*==============TABS=======================*/
.divContenedorDelDashTab {
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

/*---------------------botones del tab-----------*/
.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    background: #325D88 !important;
    color: #ffffff !important;
    margin-right: 5px;

    border: 2px solid #ffffff !important;
    border-bottom: none !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    transition: 355ms;
}

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: #325D88 !important;
        background-color: #ffffff !important;
        border: 2px solid #ffffff;
        transition: 355ms;
    }


/*---------------------Contenido del tab----------------*/

.tab-pane {
    padding: 10px;
    height: 91.5vh;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    border-top-left-radius: 0px;
    transition: 255ms;
}

.tab-content {
    background-color: #ffffff;
    width: 99%;
    height: 91vh;
    border-radius: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
}


.swal2-container {
    z-index: 99999999;
}

.format-pre pre {
    background: #ffffff;
    color: #444444;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

.datetimepicker {
    margin: 0% auto;
}