.contenedorDePerfil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    height:85vh;
    width: 80%;

    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    border-radius: 10px;

    margin: 10px auto;
}

.otrosDatosGeneralesDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 85vh;
    width: 50%;

    gap: 10px 10px;
}

.otrosDatosGeneral {
    height: 50%;
    width: 90%;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    border-radius: 10px;
    margin: 10px auto;
}

/*--------------DATOS GENERALES---------------------------*/


