.grupoCarrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}

.divContenedorDeTodosLosExamenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.ContenedorDeExamenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 10px;
    min-height: 230px;
    width: 750px;
    pointer-events: none;
}

.flexClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divExamenCotenido {
    width: 650px
}

.tituloDeExamen {
    text-align: start;
    padding: 5px;
    font-size: 30px;
    color: #325D88;
    margin: 0;
}

.descripcionExamen {
    text-align: start;
    padding: 5px;
    font-size: 20px;
    color: #333333;
    margin: 0;
}

.laboratorioExamen {
    text-align: start;
    padding: 5px;
    font-size: 15px;
    color: #000000b2;
    font-weight: bold;
}

.precioMonto {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}

.eliminarExamen {
    text-align: start;
    padding: 5px;
    font-size: 20px;
    color: #325D88;
    font-weight: bold;
    border: none;
    background: none;
    pointer-events: auto;
}

    .eliminarExamen:hover {
        text-align: start;
        padding: 5px;
        font-size: 20px;
        color: #325D88;
        font-weight: bold;
        border: none;
        background: none;
        animation: shake 1s;
        animation-iteration-count: infinite;
        pointer-events: auto;
    }

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/*------------------contenido Precios Pago------------------------*/

.contenidoPreciosPago {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    min-height: 20vh;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
    padding: 10px;
    border-radius: 10px;
}

.tituloResumen {
    text-align: start;
    padding: 5px;
    font-size: 20px;
    color: #333333;
    margin: 0;
    font-weight: 600;
}

.grupoCarritoInfomacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentenedorDelNumeroDeProductos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px 1px;
}

.numeroDeProductosOdeCargosExtra {
    text-align: start;
    padding: 5px;
    font-size: 18px;
    color: #333333;
    margin: 0;
    font-weight: 600;
}

.textNormalCarrito {
    text-align: start;
    padding: 5px;
    font-size: 18px;
    color: #333333;
    margin: 0;
    font-weight: lighter;
}

.contendorPrecioTotalDeLosProductos {
    text-align: start;
    padding: 5px;
    font-size: 18px;
    color: #151515;
    margin: 0;
    font-weight: 600;
}

.pagoPorPaypal {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    color: #325D88;
    margin: 0;
    font-weight: bold;
    border: none;
    background: none;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
    width: 200px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 7px;
    transition: 333ms;
}

    .pagoPorPaypal:hover {
        text-align: center;
        padding: 5px;
        font-size: 18px;
        color: #325D88;
        margin: 0;
        font-weight: bold;
        border: none;
        background: none;
        box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
        width: 200px;
        border-radius: 10px;
        margin: 10px auto;
        padding: 7px;
        transform: scale(1.1);
    }

.grupoDeCuponDescuento {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
