.sectionForgotPasword {
    height:100vh;
}
.contenedorForgotPassword {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 10px;

    margin: 0% auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius:10px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    height: 55px;
}

.colorGeneral {
    color: #325D88;
}

.colorGeneral:hover {
    color: #325D88;
}


/**=-----------------SWEET ALERT===========================*/

#swal2-html-container{
    font-family: 'Montserrat' !important;
}

#swal2-title {
    font-family: 'Montserrat' !important;
}