
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_DashboardAdminAppLayout.cshtml";
}

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A3 {
        background-color: #4d81ba;
        text-decoration: none;
    }
</style>



<div class="divContenedorDelDashUno">

    <h3 class="mb-3">Actividades recientes</h3>

    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Compro Exámen</th>
                <td>Carolina Barrantes Soto</td>
                <td>08/11/2022</td>

            </tr>
            <tr>
                <th scope="row">Registro Usuario</th>
                <td>Carolina Barrantes Soto</td>
                <td>02/11/2022</td>

            </tr>
            <tr>
                <th scope="row">Registro Laboratorio</th>
                <td>Roberto Solano Vargas</td>
                <td>05/11/2022</td>

            </tr>
            <tr>
                <th scope="row">Registro Usuario</th>
                <td>Roberto Solano Vargas</td>
                <td>02/11/2022</td>

            </tr>



        </tbody>
    </table>

</div>

