
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_DashboardAdminAppLayout.cshtml";
}

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A3 {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
        background-color: #f3f3f363;
    }
</style>

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />

<div class="divContenedorDelDashUno">

    <h3 class="mb-3">Actividades recientes</h3>

    <div>
        <form class="d-flex" style="padding: 10px">
            <input class="form-control me-sm-2" type="text" id="searchTerm" onkeyup="doSearch()" placeholder="Buscar información">
        </form>
        <p class='noSearch hide'></p>
    </div>

    <table id="datos" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Compro Exámen</td>
                <td>Carolina Barrantes Soto</td>
                <td>08/11/2022</td>

            </tr>
            <tr>
                <td scope="row">Registro Usuario</td>
                <td>Carolina Barrantes Soto</td>
                <td>02/11/2022</td>

            </tr>
            <tr>
                <td scope="row">Registro Laboratorio</td>
                <td>Roberto Solano Vargas</td>
                <td>05/11/2022</td>

            </tr>
            <tr>
                <td scope="row">Registro Usuario</td>
                <td>Roberto Solano Vargas</td>
                <td>02/11/2022</td>

            </tr>



        </tbody>
    </table>

</div>

<script src="~/Scripts/Views/DashboardAdminApp/BusquedaEnTabla.js"></script>