@{
    ViewBag.Title = "LaboratoriosRegistrados";
    Layout = "~/Views/Shared/_DashboardAdminAppLayout.cshtml";
}

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A1 {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
        background-color: #f3f3f363;
    }
</style>

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />

<div class="divContenedorDelDashUno">

    <h3 class="mb-3">Laboratorios Registrados</h3>

    <div class="container mb-3">
        <div class="d-flex flex-row align-items-center">
            <div class="d-flex align-items-center me-2">
                <h5 class="m-0">
                    Monto de suscripción:
                </h5>
            </div>
            <div class="input-group w-auto">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control me-2" placeholder="100">
            </div>
            <div>
                <button onclick="myfuncionGeneral()" class="btn btn-primary">Modificar</button>
            </div>
        </div>
    </div>

    <div class="container mb-3">
        <div class="d-flex flex-row align-items-center">
            <div class="d-flex align-items-center me-2">
                <h5 class="m-0">
                    Porcentaje del IVA:
                </h5>
            </div>
            <div class="input-group w-auto">
                <span class="input-group-text">%</span>
                <input type="number" class="form-control me-2" placeholder="13">
            </div>
            <div>
                <button onclick="myfuncionGeneral()" class="btn btn-primary">Modificar</button>
            </div>
        </div>
    </div>

    <div class="container mb-3">
        <div class="d-flex flex-row align-items-center">
            <div class="d-flex align-items-center me-2">
                <h5 class="m-0">
                    Ganancias totales: $300
                </h5>
            </div>
        </div>
    </div>

    <table id="datos" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Cédula jurídica</th>
                <th scope="col">Página web</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo electrónico</th>
            </tr>
        </thead>
    </table>

</div>
<script src="~/Scripts/Views/DashboardAdminApp/Laboratorio.js"></script>