
@{
    ViewBag.Title = "LaboratoriosRegistrados";
    Layout = "~/Views/Shared/_DashboardAdminApp.cshtml";
}

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A1 {
        background-color: #4d81ba;
        text-decoration: none;
    }
</style>



<div class="divContenedorDelDashUno">

    <h3 class="mb-3">Laboratorios Registrados</h3>

    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Nombre</th>
                <th scope="col">Cedula Jurídica</th>
                <th scope="col">Página web</th>
                <th scope="col">Télefono</th>
                <th scope="col">Correo Electrónico</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Ciclo Lab</th>
                <td>3-101-342687</td>
                <td>ciclolab.com</td>
                <td>24468762</td>
                <td>ciclolab@gmail.com</td>
            </tr>
            <tr>
                <th scope="row">Alchemy Lab</th>
                <td>3-101-568725</td>
                <td>alchemylab.com</td>
                <td>24464587</td>
                <td>alchemylab@gmail.com</td>
            </tr>
            <tr>
                <th scope="row">The Lab</th>
                <td>3-101-597428</td>
                <td>thelab.com</td>
                <td>24462156</td>
                <td>thelab@gmail.com</td>
            </tr>
        </tbody>
    </table>

</div>

