
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_DashboardAdminAppLayout.cshtml";
}

<style>
    /*Este style contien la clase de nav activo las opciones A1, A2, A3... etc estan en el layout*/
    .A2 {
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        text-decoration: none;
        background-color: #f3f3f363;
    }
</style>

<link rel="stylesheet" href="~/Content/css/DashboardCss/DashboardCitas.css" />

<div class="divContenedorDelDashUno">

    <h3 class="mb-3">Usuarios</h3>

    <div>
        <form class="d-flex" style="padding: 10px">
            <input class="form-control me-sm-2" type="text" id="searchTerm" onkeyup="doSearch()" placeholder="Buscar información">
        </form>
        <p class='noSearch hide'></p>
    </div>

    <table id="datos" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido 1</th>
                <th scope="col">Apellido 2</th>
                <th scope="col">Cédula</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Estado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Roberto</td>
                <td>Solano</td>
                <td>Vargas</td>
                <td>105670854</td>
                <td>88265471</td>
                <td>rsolano@gmail.com</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>Hugo</td>
                <td>Soto</td>
                <td>Vargas</td>
                <td>105670854</td>
                <td>88265471</td>
                <td>rsolano@gmail.com</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td scope="row">Carolina</td>
                <td>Solano</td>
                <td>Arguedas</td>
                <td>308710689</td>
                <td>64265187</td>
                <td>carobarrantes@gmail.com</td>
                <td>Activo</td>
            </tr>
        </tbody>
    </table>

</div>

<script src="~/Scripts/Views/DashboardAdminApp/BusquedaEnTabla.js"></script>